<div class="bg-slate-100 dark:bg-slate-800
            rounded
            flex flex-col
            space-y-2
            p-4">
  <div class="flex flex-row
              text-lg font-semibold
              text-green-600 dark:text-green-500">
    <span>Income</span>
    <span class="flex-1"></span>
    <span>{{ getIncomeSum() | number: '1.2-2' }} €</span>
  </div>
  <div class="bg-green-600 dark:bg-green-500 h-10 rounded-md">
  </div>
  <div class="h-4"></div>
  <div class="flex flex-row
              text-lg font-semibold
              text-gray-500 dark:text-slate-400">
    <span>Expenses</span>
    <span class="flex-1"></span>
    <span>{{ getExpenseSum() | number: '1.2-2' }} €</span>
  </div>
  <div class="h-10 rounded-md
              overflow-hidden
              bg-slate-200 dark:bg-slate-700
              flex flex-row">
    <div *ngFor="let expenseCategory of getExpenseCategories()"
         [style]="{
           'background-color' : expenseCategory.category?.color,
           'width' : getExpenseCategoryPercentage(expenseCategory) + '%'
         }"
         [ngClass]="!expenseCategory.category ? 'bg-slate-300 dark:bg-slate-600' : ''"></div>
  </div>
</div>
